<main>
    <h1>Connexion</h1>

    <% if (locals.flash && locals.flash.error) { %>
    <p style="color:red"><%= locals.flash.error %></p>
<% } %>
<% if (locals.flash && locals.flash.success) { %>
    <p style="color:green"><%= locals.flash.success %></p>
<% } %>

    <form action="/auth/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <label>Email ou nom d'utilisateur</label>
        <input type="text" name="email" required>

        <label>Mot de passe</label>
        <input type="password" name="password" required>

        <button type="submit">Se connecter</button>
    </form>

    <p>Pas encore de compte ? <a href="/auth/register">S'inscrire</a></p>
    
</main>