<main>
    <h1>Inscription</h1>


    <% if (locals.error) { %>
    <p style="color:red"><%= locals.error %></p>
<% } %>

<form action="/auth/register" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label>Nom d'utilisateur</label>
    <input type="text" name="nameUser" 
            value="<%= locals.formData ? locals.formData.nameUser : '' %>" required>

    <label>Email</label>
    <input type="email" name="email" 
            value="<%= locals.formData ? locals.formData.email : '' %>" required>

    <label>Mot de passe</label>
    <input type="password" name="password" required>

    <label>Confirmer le mot de passe</label>
    <input type="password" name="passwordConfirm" required>

    <label>
        <input type="checkbox" name="gdprConsent" value="true" required>
        J'accepte les conditions d'utilisation
    </label>
    <button type="submit">S'inscrire</button>
</form>
    <p>Déjà un compte ? <a href="/auth/login">Se connecter</a></p>
    
</main>