body {
    margin: 0;
}
.star {
    
    line-height: 1;
}

.star.full {
    font-size: 30px;
    color: #FFC308;          
    -webkit-text-stroke: 1px grey;
}

.star.empty {
    font-size: 30px;
    color: grey;      
}
.star-input {
        display: inline-flex;
    user-select: none;
    cursor: pointer;
}

.favorite-btn {
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
}
nav {
    background-color: #FFC308;
    padding: 15px;
    margin-bottom: 70px;
}
nav ul {
    display:flex;
    list-style-type: none;
}
nav .authentification {
    justify-content: flex-end;
}
nav .menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    overflow: visible;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 35px;
    
}

nav .menu li:last-child {
    margin-left: auto;
}
nav ul li a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: 800;
}

nav .authentification li form button {
    border: none;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
    font-weight: 800;
}

nav .authentification li form button:hover {
    cursor: pointer;
}

nav .menu li a {
    margin-left: 35px
}

.logo img {
    height: 190px;
    width: auto;
    position: relative;
    top: 0px;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.3));
}
nav .menu li form {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav .menu li form button {
    border: none;
    border-radius: 50px;
    height: 30px;
    box-sizing: border-box;
    width: 30px;
    background-color: #403F3F;
    cursor: pointer;
    
    
}

nav .menu li form input {
    border: none;
    border-radius: 50px;
    height: 30px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #A7A6A6, #414040);
    color:white;
    padding: 0 10px;
}

nav .menu li form input::placeholder {
    color: white;
    opacity:0.5;
}
nav .menu li form input:focus::placeholder {
    color: #aaa;
}

nav .menu li form input:focus {
    outline: none;
    border: 1px solid #888;
}

h1 {
    font-family: 'Acme', sans-serif;
    text-align: center;
}
/* Tout les recettes */
.recipes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.recipes-container .recipe-item {
    position: relative;
    width: 300px;
}

.recipes-container .recipe-card {
    position: relative;
    width: 300px;
}

.recipes-container .recipe-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, #000, transparent 30%);
    pointer-events: none;
}

.recipes-container .recipe-item a .recipe-card img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipes-container .recipe-item a .recipe-card h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 8px 12px;
    color: white;
    z-index: 1;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.recipes-container .recipe-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.recipes-container .recipe-info .difficulty {
    font-size: 0;
    background-color: rgba(44, 40, 40, 0.8);
    width: fit-content;
    padding: 2px;
    margin-left: 10px;
    border-radius: 15px;
}

/* flammes actives */
.recipes-container .recipe-info .difficulty .flame-icon.active svg path {
    fill: #eb8a30;
}

/* flammes inactives */
.recipes-container .recipe-info .difficulty .flame-icon.inactive svg path {
    fill: #ccc;
    opacity: 0.4;
}




.recipes-container .recipe-info .recipe-info-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    
}
.recipes-container .recipe-info .recipe-info-bottom .stars {
    background-color: rgba(249, 249, 249, 0.8);
    padding: 2px;
    border-radius: 15px;
}

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}




.con-like {
  --red: rgb(255, 50, 50);
  --black: grey;
  position: relative;
  width: 20px;
  height: 20px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con-like .background {
    fill: white;
    position: absolute;
}

.con-like .filled {
  fill: var(--red);
  position: absolute;
  filter: drop-shadow(0px 0px 2px white);
}

.con-like .outline {
  fill: var(--black);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: block
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

.like.no-animate ~ .checkmark .filled {
    animation: none;
}

.like.no-animate ~ .checkmark .celebrate {
    animation: none;
    display: none !important;
}
#sort-controls {
    font-family: 'Acme', sans-serif;
}
#sort-controls.hidden {
    display: none;
}

fieldset {
    border: none;
}

fieldset label input[type="checkbox"],
fieldset label input[type="radio"]{
    accent-color: #eb8a30;
}

fieldset label input[type="checkbox"]:hover,
fieldset label input[type="radio"]:hover{
    cursor: pointer;
}

#toggle-filters {
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 25px;
    background-color: #403f3f;
    border-radius: 29px;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

#toggle-filters:hover {
    background-color: #504f4f;
    cursor: pointer;
}

.recipe-show {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: 'Acme', sans-serif;
}

.recipe-show img {
    width: 100%;
    height: 400px; /* ajuste selon tes préférences */
    object-fit: cover;
}

main {
    /* background-image: url('../images/xpkaP01.svg'); */
    background-repeat: repeat; /* ou no-repeat */
    background-size: cover; /* ou contain */
}

.reicpe-show-info {
    display: flex;
    justify-content: space-around;
}

.reicpe-show-info p {
    background-color: #ac0808;
    padding: 5px;
    border-radius: 15px;
    color: white;
}
.ingredient {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 25px;
    background-color: #F5E5E5;
    border-radius: 15px;
}

.ingredient h3 {
    text-align: center;
}

.ingredient ul {
    margin: 0;
    padding: 0;
}
.ingredient-list {
    display: flex;
    justify-content: space-between;
}
.rating-recipe {
    text-align: center;
}
.rating-form button {
        padding: 10px;
    background-color: #403f3f;
    border-radius: 29px;
    margin-top: 15px;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.rating-form button:hover {
    background-color: #6e6e6e;
    cursor: pointer;
}

textarea {
    width: 100%;
    min-height: 120px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

textarea:focus {
    border-color: #666;
}

.comment-post button {
        padding: 10px;
    background-color: #403f3f;
    border-radius: 29px;
    margin-top: 15px;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.comment-post button:hover {
    background-color: #6e6e6e;
    cursor: pointer;
}

#toggle-comments {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
}

#comments-container {
    display: none;
}