.star {
    font-size: 30px;
    line-height: 1;
}

.star.full {
    color: #FFC308;          
    -webkit-text-stroke: 1px grey;
}

.star.empty {
    color: grey;      
}
.star-input {
        display: inline-flex;
    user-select: none;
    cursor: pointer;
}
