<!-- src/views/pages/home.ejs -->

    <header>
        <h1>Bienvenue sur Angel Fourche</h1>
    </header>
    <main>
        <a href="/recipes">Recette</a>
    </main>
    <footer>
        <p>&copy; 2026 Angel Fourche</p>
    </footer>

