<ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/recipes">Recette</a></li>
    <li><a href="/auth/login">Connectez-vous</a></li>
    <li><a href="/auth/register">Inscrivez-vous</a></li>
</ul>