<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angel Fourche</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <nav>
  <%- include('../partials/navbar') %>
</nav>
  <%- body %> 
  <%- include('../partials/footer') %>
  <script src="/js/app.js"></script>
  <%- script %>
</body>
</html>